{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_slider-1">
			<!-- START Slider 1 REVOLUTION SLIDER 6.5.6.11 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_1_1" style="" data-version="6.5.6.11">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-1-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;bor:1px,0,0,0;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0622/6545/8905/t/3/assets/fm_Main_Homepage.png" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-1" 
								data-type="text"
								data-color="#fff"
								data-rsp_ch="on"
								data-xy="x:50px;y:551px;"
								data-text="w:normal;s:16;l:20;ls:1px;"
								data-dim="minh:0px;"
								data-padding="t:5;r:5;b:5;l:5;"
								data-border="bos:solid;boc:#ffffff;bow:2px,2px,2px,2px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;font-family:'Work Sans';"
							>Edition 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-2" 
								data-type="text"
								data-color="#ffffff"
								data-rsp_ch="on"
								data-xy="x:51px;y:603px;"
								data-text="s:20;l:20;ls:2;fw:500;"
								data-dim="minh:0px;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;font-family:'DM Sans';text-transform:uppercase;"
							><strong>Christian Rex van Minnen</strong> returns with his first <br/>print in a decade, for 24 hours only 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_1_1',rl:[1240,1024,778,480],el:[900],gw:[1240],gh:[900],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider11"]!==undefined) {window.RS_MODULES.modules["revslider11"].once = false;window.revapi1 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400%7CWork+Sans:400%7CDM+Sans:500" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi1;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider11"] = {init:function() {
			window.revapi1 = window.revapi1===undefined || window.revapi1===null || window.revapi1.length===0  ? document.getElementById("rev_slider_1_1") : window.revapi1;
			if(window.revapi1 === null || window.revapi1 === undefined || window.revapi1.length==0) { window.revapi1initTry = window.revapi1initTry ===undefined ? 0 : window.revapi1initTry+1; if (window.revapi1initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider11"].init()}); return;}
			window.revapi1 = jQuery(window.revapi1);
			if(window.revapi1.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_1_1"); return;}
			revapi1.revolutionInit({
					revapi:"revapi1",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"62161c3136119",
					gridwidth:1240,
					gridheight:900,
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					editorheight:"900,768,960,720",
					responsiveLevels:"1240,1024,778,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:""
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_slider-1" ).after( "<div id='revslider_show_slider-1'></div>" );
                            jQuery( "#revslider_drag_slider-1" ).hide();
                            jQuery("#revslider_foot_slider-1").appendTo("#revslider_show_slider-1");
                            jQuery("#revslider_show_slider-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>